.main
  %h3= link_to "Login"
  .clearfix
    .span-9
      %p== Don't have an account? #{link_to "Sign up!", signup_path}

      - form_tag sessions_path do
        %p
          = label_tag :login, "Username or Email Address"
          = text_field_tag :login, params[:login]
        %p
          = label_tag :password
          = password_field_tag :password
        %p
          = submit_tag "Log in"
    .span-13{:class => "last"}
      %h3 Registration is currently closed.  Please check back!
